<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wheeltec_robot_urdf/meshes/wiki.ros.org/sw_urdf_exporter -->
<robot
  name="four_wheel_diff_robot_meshes">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0080633 -0.00093251 0.10755"
        rpy="0 0 0" />
      <mass
        value="7.8479" />
      <inertia
        ixx="0.091678"
        ixy="0.00014969"
        ixz="-0.0011643"
        iyy="0.087225"
        iyz="0.00011398"
        izz="0.16874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lf_wheel_link">
    <inertial>
      <origin
        xyz="-8.0207E-08 0.00027357 -6.3932E-06"
        rpy="0 0 0" />
      <mass
        value="1.1601" />
      <inertia
        ixx="0.0060297"
        ixy="-1.9379E-10"
        ixz="-6.4965E-10"
        iyy="0.01063"
        iyz="-1.4416E-08"
        izz="0.00603" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/lf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/lf_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_wheel_joint"
    type="continuous">
    <origin
      xyz="0.1772 0.2999 0.042"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="rf_wheel_link">
    <inertial>
      <origin
        xyz="8.0207E-08 -0.00027357 -6.3932E-06"
        rpy="0 0 0" />
      <mass
        value="1.1601" />
      <inertia
        ixx="0.0060297"
        ixy="-1.9379E-10"
        ixz="6.4965E-10"
        iyy="0.01063"
        iyz="1.4416E-08"
        izz="0.00603" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/rf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/rf_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_wheel_joint"
    type="continuous">
    <origin
      xyz="0.1772 -0.3025 0.042"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="lb_wheel_link">
    <inertial>
      <origin
        xyz="-9.7789E-12 -0.00081366 1.7661E-10"
        rpy="0 0 0" />
      <mass
        value="1.8489" />
      <inertia
        ixx="0.0077564"
        ixy="3.1505E-11"
        ixz="-2.213E-09"
        iyy="0.014718"
        iyz="-3.5074E-12"
        izz="0.0077564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/lb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.6 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/lb_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.1748 0.3035 0.037"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lb_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rb_wheel_link">
    <inertial>
      <origin
        xyz="9.7785E-12 0.00081366 1.7661E-10"
        rpy="0 0 0" />
      <mass
        value="1.8489" />
      <inertia
        ixx="0.0077564"
        ixy="3.1505E-11"
        ixz="2.213E-09"
        iyy="0.014718"
        iyz="3.5074E-12"
        izz="0.0077564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/rb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.6 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/rb_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.1748 -0.3061 0.037"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rb_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-0.00079223 1.3312E-06 -0.029676"
        rpy="0 0 0" />
      <mass
        value="0.1184" />
      <inertia
        ixx="0.00013258"
        ixy="-2.1739E-09"
        ixz="-1.0708E-06"
        iyy="0.00013545"
        iyz="-7.2438E-10"
        izz="0.00020846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.13256 -0.0013 0.2896"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-4.2751E-08 -3.4861E-07 1.0762E-07"
        rpy="0 0 0" />
      <mass
        value="0.055984" />
      <inertia
        ixx="0.00013081"
        ixy="1.2026E-07"
        ixz="1.6234E-06"
        iyy="1.9115E-05"
        iyz="-2.8002E-08"
        izz="0.00013139" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.26489 -0.001222 0.1659"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controller_link">
    <inertial>
      <origin
        xyz="0.022652 0.035443 -0.10604"
        rpy="0 0 0" />
      <mass
        value="18.767" />
      <inertia
        ixx="0.87453"
        ixy="-0.0010237"
        ixz="0.013244"
        iyy="0.67056"
        iyz="-0.0006362"
        izz="1.3341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/controller_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74118 0.90196 0.95686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wheeltec_robot_urdf/meshes/four_wheel_diff_robot_meshes/controller_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controller_joint"
    type="fixed">
    <origin
      xyz="-0.03596 -0.036589 0.1798"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="controller_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>